root = true

[*.{cpp,h,hpp,hxx}]
charset = utf-8
indent_style = tab
indent_size = 4
tab_width = 4

cpp_indent_braces = false
cpp_indent_case_labels = true
cpp_new_line_before_else = true
cpp_new_line_before_catch = true
cpp_space_after_comma = true
cpp_space_before_block_open_brace = true